form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0.3px 0.3px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  background: linear-gradient(to bottom right, #c5c5c5, #a5a5a5);
  @media (max-width: 560px) {
    flex-direction: column;
  }
  .celsius,
  .fahrenheit {
    @media (max-width: 560px) {
      margin: 10px 0;
      text-align: center;
      label {
        margin-bottom: 28px;
      }
    }
  }
}

.celsius {
  label {
    color: #04c21f;
  }
}

.fahrenheit {
  label {
    color: #1976d2;
  }
}

.buttons {
  display: flex;
  align-items: center;
  @media (max-width: 450px) {
    flex-direction: column;
  }
  button {
    margin: 0 8px;
    @media (max-width: 450px) {
      margin: 8px 0;
    }
  }
  #convertToFahrenheit {
    background: #04c21f;
    color: #fff;
    &:hover {
      background: #03b020;
    }
  }
  #clearBtn {
    background: #fff;
    color: #000;
    &:hover {
      background: #f0f0f0;
    }
  }
}

.resultSection {
  text-align: center;
  .errorText {
    border-radius: 8px;
    background: #f00;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
  }
  .successText {
    border-radius: 8px;
    background: #04c21f;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
  }
}
