#resultSection {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 8px;
  }
  table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    th,
    td {
      padding: 8px 12px;
      border: 1px solid #ccc;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  }
}
